[Unit]
Description=Xandeum Dock Altair Service
After=network.target

[Service]
ExecStart=/usr/bin/xandeum-dock --version altair --tcp-push atlas.devnet.xandeum.com:3001 --tcp-pull atlas.devnet.xandeum.com:4001
Restart=always
User=sol
Environment=NODE_ENV=production
Environment=RUST_LOG=debug
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xandeum-dock-altair

[Install]
WantedBy=multi-user.target





