[Unit]
Description=Xandeum Dock Vega Service
After=network.target

[Service]
ExecStart=/usr/bin/xandeum-dock --version vega --tcp-push atlas.trynet.xandeum.com:8080 --tcp-pull atlas.trynet.xandeum.com:8081
Restart=always
User=sol
Environment=NODE_ENV=production
Environment=RUST_LOG=debug
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xandeum-dock-vega

[Install]
WantedBy=multi-user.target





